<br />
<div *ngIf="model.language == 'EN'">
  <p><b>EN</b></p>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Ex. Pizza" value="{{ model.name }}" />
  </mat-form-field>
  <br />
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput placeholder="Ex. Pizza" value="{{ model.userName }}" />
  </mat-form-field>
  <br />
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Language</mat-label>
    <input matInput placeholder="Ex. Pizza" value="{{ model.language }}" />
  </mat-form-field>
  <br />
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Mobile Number</mat-label>
    <input matInput placeholder="Ex. Pizza" value="{{ model.mobileNumber }}" />
  </mat-form-field>
</div>
<div *ngIf="model.language == 'DE'">
  <p><b>DE</b></p>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Ex. Pizza" value="{{ model.name }}" />
  </mat-form-field>
  <br />
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nutzername</mat-label>
    <input matInput placeholder="Ex. Pizza" value="{{ model.userName }}" />
  </mat-form-field>
  <br />
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Sprache</mat-label>
    <input matInput placeholder="Ex. Pizza" value="{{ model.language }}" />
  </mat-form-field>
  <br />
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Handynummer</mat-label>
    <input matInput placeholder="Ex. Pizza" value="{{ model.mobileNumber }}" />
  </mat-form-field>
</div>

<br />
