<div class="container">

    <form  class="form-signin">
        <h2 class="form-heading">Log in</h2>

        <div class="form-group ">
            <span></span>
            <input name="username" type="text" class="form-control" placeholder="Username"
                   autofocus="true"/>
            <input name="password" type="password" class="form-control" placeholder="Password"/>
            <span></span>
            <button class="btn btn-lg btn-primary btn-block" (click)="login()" >Log In</button>
        </div>

    </form>

</div>
